@import './variables';

@keyframes slide-up {
    from {
        transform: translateY(4rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(4rem);
        opacity: 0;
    }
}

@keyframes dense {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes transparent {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(65, 0, 85, 0.637);
    backdrop-filter: blur(24px);
    z-index: 99;
    transition: background-color 0.5s ease;
}

.wrapper {
    width: 300px;
    padding: 1rem;
    background-color: rgba(65, 0, 85, 0.637);
    border: 1px solid rgba(84, 0, 110, 0.637);
    border-radius: 1rem;
    transition: background-color 0.5s ease;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    h2 {
        display: flex;
        flex-direction: row;
        align-items: center;

        color: inherit;
        font-size: 0.8rem;
        font-weight: 600;

        margin: 0;
    }

    svg {
        width: 22px;
        height: 22px;
        margin-right: 1rem;
    }
    
}

.close {
    color: inherit;
    cursor: pointer;
    width: 16px;
    height: 16px;

    svg {
        width: 16px;
        height: 16px;
    }
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.label {
    color: inherit;
    display: flex;
    flex-direction: column;

    span {
        &:nth-child(1) {
            font-size: 0.8rem;
            font-weight: 700;
            margin-bottom: 0.25rem;
        }
        &:nth-child(2) {
            font-size: 0.6rem;
            font-weight: 400;
        }
    }
}

.in {

    animation-name: dense;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: both;

    .wrapper {
        animation-name: slide-up;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
}

.out {

    animation-name: transparent;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: both;

    .wrapper {
        animation-name: slide-down;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
}

@media (min-width: $md) {
    .wrapper {
        width: 360px;
    }
}

.light {
    color: #666;
    background-color: rgba(234, 196, 245, 0.64);

    .wrapper {
        background-color: rgba(233, 233, 233, 0.64);
        border: 1px solid rgba(126, 126, 126, 0.616);
    }
}